<div class="card" style="width: 18rem; display:inline-block;">
  <div class="card-body">
    <h5 class="card-title"><%= day + 1 %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= month %></h6>
    <p class="card-text"><%= user.email %></p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>