<%= userDate = @date %>


<span><%= link_to "next", "/2021/" + (userDate.month + 1).to_s %></span>

<h1><%= userDate %></h1>
<br>
<% (Time.days_in_month(userDate.month, userDate.year)).times do %>
  <%= render "./partials/eventCard" %>
<%end%>